<div ng-model ="app.store" ng-controller="StoreController">

  <div id="store">
  <h1 id="shoper" class="st">WELCOME {{name}}!</h1>
    <p class="st">PLEASE BROWSE MY WEARS.</p>
    <p class="st">YOU HAVE {{gold}} GOLD AND {{health}} HEALTH</p>

  </div>

  <button id="outDoor" ng-click="battle()">TO BATTLE</button>
  <div id="shelf">
    <div id="row1">
    </div>
    <div id="row2">
      <img id="potion" ng-click="potion()" src="/../../images/potion.png">

      <img id="wand" ng-hide="whide" ng-click="wand()" src="/../../images/wand.gif">
      
    </div>
    <div id="row3">
      <img id="armor" ng-hide="ahide" ng-click="armor()" src="/../../images/armor.png">

    </dir>

  </div>
</div>