@font-face {
  font-family:Pixel Azure Bonds;
  src: url(/../images/paz.otf) format("opentype");
}

body{
  font-family:Pixel Azure Bonds;

  background-size: cover;
}

#banner{
  margin-left: 100px;
  margin-right: auto;
  margin-top: 20px
}

#inBox{
  margin-left: auto;
  margin-right: auto;
  height:300px;
  width:500px;
}

#heroSelect{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:25px;
}

#difficulty{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:25px;
}

#nameIn{

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:25px;
}
#start{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:20px;

}
#enemy{
  width: 50px
}
#enemybox{
  position: absolute;
}

.intro{
  text-align: center;
  font-size: 22px;
}

.a{
  color:black;
}

.b{
  color:grey;
}

.c{
  color:white;
}