@font-face {
  font-family:Pixel Azure Bonds;
  src: url(/../images/paz.otf) format("opentype");
}

body{
  font-family:Pixel Azure Bonds;

  background-size: cover;
}

#banner{
  margin-left: 100px;
  margin-right: auto;
  margin-top: 20px
}

#inBox{
  margin-left: auto;
  margin-right: auto;
  height:300px;
  width:500px;
}

#heroSelect{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:25px;
}

#difficulty{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:25px;
}

#nameIn{

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:25px;
}
#start{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Pixel Azure Bonds;
  font-size:20px;

}

#heroBox{
  z-index: 0;
  position: absolute;
  bottom:5px;
  left:500px;
  font-size: 25px;
  text-align: center;
}

#heroName{
  z-index: -100;
  font-size: 30px;
  color:silver;

}

#outDoor{
  width: 75px;
  height: 75px;
  position: absolute;
  left:600px;
  bottom:30px;
  background-image: url("/../images/outDoor.gif");
  background-size: cover;
  font-family: Pixel Azure Bonds;
  color: yellow;
  font-size: 12px;
}


#armor{
  margin: 0 0 0 100px;
  width: 95px;
}
#potion{
  margin:0 0 0 30px;
  width: 90px;
}

#wand{
  text-align: right;
  margin:0 30px 0 30px;
  width: 90px;
}

#row1{
  width:300px;
  height: 100px;
}
#row2{
  width:300px;
  height: 100px;
}
#row3{
  width:300px;
  height: 100px;
}

#shelf{
  position: absolute;
  left:700px;
  bottom:100px;
  width:300px;
  height: 300px;
  background-image: url("/../images/bookshelf.png");
  background-size: cover;
}

#store{
  text-align: center;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.st{
  color:white;
  font-size: 30px;
}

#zap{
  position: absolute;
}

#itemBar{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 50px;
}

#item1{
  position: absolute;
  left:40px;
  width: 60px;
}
#item2{
  position: absolute;
  left:200px;
  width: 60px;
}

#hero{
  z-index: -100;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width:150px;
}
#enemy{
  position: absolute;
  z-index: 100;

}
#enemybox{
  position: absolute;
}
#storeDoor{
  position: absolute;
  left:130px;
  bottom:0;
  font-family: Pixel Azure Bonds;
  text-align: center;
  color: yellow;
  font-size: 8px;
  width: 45px;
  height: 50px;
  background-image: url("/../images/door.png");
  background-size: cover;
}

#swordskull{
  width: 400px;
  bottom:10px;
  position: absolute;
  left:400px;
}

#gameover{
  top:50px;
  position: relative;
  z-index: 100;
  color:white;
  margin-left: auto;
  margin-right: auto;


}

#reaperR{
  position: absolute;
  right:100px;
  bottom:100px;
  width: 300px;
}

#reaperL{
  position: absolute;
  left:100px;
  bottom:100px;
  width: 300px;
}


#game{
  font-size: 40px;

}

#tree1{
pointer-events: none;
z-index: 200;
position: absolute;
width: 400px;
right:100px;
bottom:-60px;
}
#tree2{
pointer-events: none;
z-index: 200;
position: absolute;
width: 400px;
left:100px;
bottom:-60px;
}
.intro{
  text-align: center;
  font-size: 22px;
}




.go{
  text-align: center;
  font-size: 30px

}

.a{
  color:black;
}

.b{
  color:grey;
}

.c{
  color:white;
}

.gold{
  margin: 0 0 0 0;
  z-index: -100;
  color:gold;
}

.health{
  margin: 0 0 0 0;
  z-index: -100;
  color:red;
}