<div ng-model ="app.battlefield" ng-controller="BattlefieldController"  ng-init="place()">
  <h1 >BONESTORM II</h1>
  <p>PREPARE FOR BATTLE!</p>

  <div id="enemybox" style="top:{{key.y}}px; left:{{key.x}}px" ng-init="fade(key,key.time)" ng-repeat="key in enemies track by $index" ng-hide="key.hidden"  ng-click="kill(key)" >
    <image  id="enemy" src="/../../images/enemy.png"/>
  </div>


  
  <div id="heroName" ng-init="showName()">{{name}}</div>

  <image id="hero" src="/../../images/hero.png">
  <div>
    <p>YOUR GOLD:{{gold}}</p>
  </div>
</div>